.title{
  max-width: 100%;
  margin: 0 auto;
  margin-top: 70px;
  font-family: 'Montserrat', sans-serif;
}

.titleblock{
  width: 100%;
  height: 556px;
  border-radius: 16px;
  padding: 160px 452px;
  background-color: rgba(4, 80, 160, 1);
}

.button{
  width: 123px;
  height: 28px;
  border-radius: 573.77px;
  padding: 6px 14px;
  border: 1px solid white;
  margin: 0 auto;
  margin-bottom: 13.9px;
}

.button p{
  font-weight: 500; 
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  width: 95px;
  height: 16px;
}

.name1, .name2{
  font-weight: 500;
  font-size: 60px;
  line-height: 61.2px;
  letter-spacing: -1.8px;
  text-align: center;
  vertical-align: middle;
}

.name1{
  color: white;
}

.name2{
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 24px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button1, .button2{
  width: 153px;
  height: 48px;
  border-radius: 1000px;
  padding-top: 16px 24px;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s;
}

.button1{
  background-color: white;
}
.button2{
  background-color: rgba(4, 80, 160, 1);
}

.button1 p, .button2 p{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 14px;
  transition: all 0.3s;
}

.button1 p{
  color: rgba(4, 80, 160, 1);
}
.button2 p{
  color: white;
}

.button1:hover{
  background-color: rgba(4, 80, 160, 1);
}
.button2:hover{
  background-color: white;
}

.button1:hover p{
  color: white;
}
.button2:hover p{
  color: rgba(4, 80, 160, 1);
}