.buttonLabel {
    position: relative;
    letter-spacing: -0.24px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.button {
    border-radius: 573.77px;
    border: 1px solid #0450a0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
}
.title {
    align-self: stretch;
    position: relative;
    letter-spacing: -1.8px;
    font-weight: 500;
}
.heading2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 21px;
    font-size: 40px;
}
.container1 {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    max-width: 800px;
}
.titlecontainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.score {
    position: relative;
    letter-spacing: -2.4px;
    line-height: 81.6px;
    font-weight: 500;
}
.score1 {
    flex: 1;
    position: relative;
    letter-spacing: -2.4px;
    line-height: 81.6px;
    font-weight: 500;
}
.titlecontainer1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.description {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 17.36px;
    font-weight: 500;
}
.heading4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.container2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 32px;
}
.subjectscorecard {
    width: 655px;
    border-radius: 16px;
    background-color: #0450a0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 32px 38px;
    box-sizing: border-box;
    gap: 130px;
    min-width: 467px;
}
.dividerChild {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.divider {
    align-self: stretch;
    width: 2px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    box-sizing: border-box;
}
.subjectscorecard1 {
    width: 655px;
    border-radius: 16px;
    background-color: rgba(4, 80, 160, 0.07);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 32px 37.6px;
    box-sizing: border-box;
    gap: 130px;
    min-width: 467px;
    color: #0450a0;
}
.content1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.p {
    margin: 0;
}
.p1 {
    margin: 0;
    color: rgba(4, 80, 160, 0.6);
}
.subheading {
    position: relative;
    letter-spacing: -0.24px;
    font-weight: 500;
}
.heading3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.container4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.button1 {
    border-radius: 1000px;
    background-color: #0450a0;
    border: 1px solid #0450a0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
}
.button2 {
    border-radius: 1000px;
    border: 1px solid #0450a0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    color: #0450a0;
}
.buttoncontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.container5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.description2 {
    align-self: stretch;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 42px 45px;
    width: 89%;
    gap: 24px;
    left: 31px;
    left: 10;
    position: relative;
    font-size: 24px;
    color: #0450a0;
}
.sectioncontainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.label {
    flex: 1;
    position: relative;
    letter-spacing: -0.24px;
    font-weight: 500;
}
.rowChild {
    width: 1px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 17px;
    object-fit: contain;
}
.text {
    position: relative;
    letter-spacing: -0.24px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
}
.row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 4px;
    gap: 12px;
    text-align: center;
    font-size: 12px;
}
.titlecontainer3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.subject {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.96px;
    line-height: 32.64px;
    font-weight: 500;
}
.heading31 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.container6 {
    align-self: stretch;
    height: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 32px;
}
.subjectscorecard2 {
    align-self: stretch;
    border-radius: 16px;
    background-color: #0450a0;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 32px 38px;
    box-sizing: border-box;
    min-width: 467px;
    color: white;
}
.content3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 80px;
    color: #fff;
}
.row {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.dividerItem {
    width: 2px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 173px;
    object-fit: contain;
}
.titlecontainer6 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.subjectscorecard4 {
    align-self: stretch;
    border-radius: 16px;
    background-color: rgba(4, 80, 160, 0.07);
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 32px 38px;
    box-sizing: border-box;
    min-width: 467px;
}
.content4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 80px;
}
.content2 {
    width: 1360px;
    height: 461px;
    display: flex;
    padding: 30px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.heading36 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.button7 {
    border-radius: 1000px;
    background-color: #0450a0;
    border: 1px solid #0450a0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.row6 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 36px;
    text-align: right;
    font-size: 32px;
}
.description3 {
    align-self: stretch;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 32px;
    position: relative;
    left: 33px;
    width: 91%;
}
.subject4 {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.24px;
    font-weight: 500;
}
.heading37 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.titlecontainer9 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    font-size: 80px;
}
.button8 {
    width: 143px;
    border-radius: 1000px;
    background-color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.subjectscorecard6 {
    align-self: stretch;
    border-radius: 16px;
    background-color: #0450a0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 32px 36px 32px 32px;
    box-sizing: border-box;
    gap: 24px;
    min-width: 467px;
    color: #fff;
    position: relative;
    left: 33px;
    width: 96%;
}
.sectioncontainer1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 24px;
    color: #0450a0;
}
.content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 80px;
    color: #fff;
}
.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 64px;
    text-align: center;
    top: 119px;
    font-size: 12px;
    color: #0450a0;
    font-family: Montserrat, sans-serif;
}
@media (min-width: 768px) and (max-width:1024px) {
    .content2{
        width: 0px; 
    height: 461px;
    display: flex;
    padding: 30px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
    }
}
/* Адаптация для планшетов */
@media (max-width: 1024px) {
    .title {
      font-size: 24px;
      letter-spacing: 1.2px;
    }
    .heading2 {
      font-size: 32px;
    }
    .score {
      font-size: 74px;
    }
    .subjectscorecard,
    .subjectscorecard1 {
      padding: 16px 24px;
      font-size: 58px;
    }
.row6{
    font-size: 28px;
}
    .button {
      padding: 10px 20px;
      font-size: 14px;
    }
    .buttoncontainer {
      gap: 8px;
    }
  }
  
  /* Адаптация для мобильных */
  @media (max-width: 768px) {
    .title {
      font-size: 20px;
    }
    .heading2 {
      font-size: 28px;
    }
    .score {
      font-size: 59px;
    }
    .description2{
        width: 80%;
    }
    .row6{
        font-size: 26px;
        flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    }
    .heading3{
        width: 86%;
    }
    .description3{
        width: 85%;
    }
    .subjectscorecard6{
        width: 93%;
    }
    .subjectscorecard,
    .subjectscorecard1 {
      padding: 12px 16px;
      font-size: 12px;
      min-width: 321px;
    }
    .subjectscorecard4, .subjectscorecard2{
        min-width: 333px;
    }
    .subheading{
        font-size: 19px;
    }
    .row2{
        display: none;
    }
    .buttoncontainer{
        flex-direction: column;
        align-items: normal;
    }
    .content1{
        gap: 8px;
        padding: 10px;
    }
    .button {
      padding: 8px 16px;
      font-size: 12px;
    }
    .description {
      font-size: 12px;
    }
  }
  
  /* Адаптация для маленьких экранов */
  @media (max-width: 480px) {
    .title {
      font-size: 18px;
    }
    .heading2 {
      font-size: 24px;
    }
    .score {
        font-size: 56px;
    }
    .subjectscorecard,
    .subjectscorecard1 {
      padding: 8px 12px;
      font-size: 64px;
      gap: 60px;
      
    }
    .divider{
        display: none;
    }
    .subject{
        align-self: baseline;
    }
    .button {
      padding: 6px 12px;
      font-size: 10px;
    }
    .description {
      font-size: 10px;
    }
  }
  @media (max-width: 450px) {
    .content1 {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  
    .subjectscorecard,
    .subjectscorecard1,
    .description2 {
      width: 66%;
      left: 19px;
    }
  
    .buttoncontainer {
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
    .titlecontainer9{
        font-size: 67px;
    }
    .button1, .button2{
        padding: 16px 11px;

    }
  
    .row6 {
      flex-direction: column;
      align-items: center;
      gap: 8px;
      text-align: center;
    }
  
    .description3,
    .subjectscorecard6 {
      width: 100%;
    }
  }
  @media (max-width: 450px) {
    .content2 {
      flex-direction: column;
      align-items: center;
      gap: 16px;
      position: relative;
      z-index: 1; /* Убедиться, что блоки не перекрываются */
      width: 82%;
    }
  .titlecontainer1{
    align-self: auto;
  }
    .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 12px;
    }
  
    .content3, .content4 {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  
    .subjectscorecard2,
    .subjectscorecard4 {
      width: 90%; /* Уменьшаем ширину для предотвращения наложений */
      margin: 0 auto; /* Центрируем карточки */
    }
  
    .description3 {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 16px;
      width: 66%;
      top: 467px;
    }
  
    .row6 {
      flex-direction: column;
      align-items: center;
      gap: 12px;
      width: 90%;
      margin: 0 auto;
      
    }
  
    .subjectscorecard6 {
        width: 71%;
        margin: 16px auto;
        top: 63px;
        min-width: 339px;
        top: 466px;
        left: -3px;

    }
  }
  @media (max-width:320px) {
    .subjectscorecard6{
        width: 54%;
        margin: 16px auto;
        top: 63px;
        min-width: 300px;
        top: 466px;
        left: -2px;
    }
    .titlecontainer9{
        font-size: 55px;
    }
    .description3{
        left: 15px;
    }
    .row6{
        font-size: 31px;
    }
    .subjectscorecard2,.subjectscorecard4{
        min-width: 275px;
        height: 191px;
    }
    .description2{
        width: 65%;
        left: 7px;
        flex-direction: column;

    }
.subjectscorecard,.subjectscorecard1{
    min-width: 308px;
}
  }