.div {
    position: relative;
    letter-spacing: -0.24px;
    line-height: 14.4px;
    text-transform: uppercase;
    font-weight: 500;
}
.container4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 0;
}
.border {
    width: 100%;
    position: absolute;
    margin: 0 !important;
    height: 105.93%;
    top: 0%;
    right: 0%;
    bottom: -5.93%;
    left: 0%;
    border-radius: 1000px;
    border: 1px solid #fff;
    box-sizing: border-box;
    z-index: 1;
}
.container2 {
    border-radius: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    position: relative;
}
.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.div1 {
    position: relative;
    letter-spacing: -1.8px;
    line-height: 61.2px;
    font-weight: 500;
}
.div2 {
    position: relative;
    letter-spacing: -1.8px;
    font-weight: 500;
}
.heading2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 69px;
    gap: 4px;
    font-size: 60px;
}
.container {
    width: 640px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    max-width: 640px;
}
.buttonLabel {
    position: relative;
    letter-spacing: -0.24px;
    line-height: normal; /* Убираем ограничение на высоту строки */
    white-space: nowrap; /* Запрещаем перенос текста */
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.5;
}

.button {
    align-self: stretch;
    border-radius: 1000px;
    background: linear-gradient(rgba(156, 156, 156, 0.45), rgba(156, 156, 156, 0.45)), #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    cursor: pointer;
}
.container6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
}
.buttonParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.buttonLabel1 {
    position: relative;
    letter-spacing: -0.24px;
    line-height: normal; /* Убираем ограничение на высоту строки */
    white-space: nowrap; /* Запрещаем перенос текста */
    text-transform: uppercase;
    font-weight: 500;
}
.button1 {
    border-radius: 1000px;
    border: 1px solid #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    color: #fff;
}
.container5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    color: #424242;
}
.background { 
    border-radius: 16px;
    background-color: #0450a0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 144px 512px;
    box-sizing: border-box;
    gap: 24px;
}
.section1 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
}
.section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 8px;
}


.button1:hover {
    background-color: #fff; /* Белый фон при наведении */
    color: #0450a0; /* Синий текст при наведении */
    border: 1px solid #0450a0; /* Синяя граница остается */
    cursor: pointer; /* Указатель меняется на "руку" */
    transition: all 0.3s ease;
}

.button:hover {
    opacity: 0.5;
    transition: all 0.3s ease;
}

@media (max-width: 1670px) {
    .div {
        line-height: 10.5px;
    }
    .border {
        border-radius: 750px;
    }
    .container2 {
        border-radius: 750px;
        padding: 4.5px 7.5px;
    }
    .div1 {
        line-height: 45.75px;
    }
    .heading2 {
        padding: 0px 51.75px;
        gap: 3px;
        font-size: 45px;
    }
    .container {
        width: 480px;
        gap: 15px;
    }
    
    .container5 {
        gap: 7.5px;
    }
    .background { 
        border-radius: 12px;
        padding: 108px 384px;
        gap: 18px;
    }
    .section {
        font-size: 9px;
        margin-top: 150px;
        margin-bottom: 6px;
    }

}
@media (max-width:1270px) {
    
    .container {
        width: 333.33px;
    }
    .background {
        border-radius: 8.33px;
        padding: 75px 266.67px;
        gap: 12.5px;
    }
    .heading2{
        font-size: 40px;
    }
}
@media (max-width: 880px) {
    .buttonLabel{
        line-height: 16px;
    }
    .section {
        margin-bottom: 0;
        margin-top: 450px;
    }
    .div1{
        letter-spacing: 0px;
    }
    .div2{
        letter-spacing: -1.3px;
    }
    .background {
    padding: 60px 282px;
        border-radius: 8px;
    }

    .heading2 {
        padding: 0px 10px;
        font-size: 28px;
    }
    .section1{
        padding: 1px 58px;
    }
    .container2{
        border-radius: 400px;
        padding: 8px 20px;
    }
    .container {
        width: 100%;
        gap: 12px;
    }
    .buttonParent{
        gap: 15px;
    }
    .div{
        font-size: 15px;
    }
    .button1 {
        padding: 10px 14px;
    }

    .buttonLabel,
    .buttonLabel1 {
        font-size: 12px;
        text-transform: uppercase;
    }

    .button {
        padding: 12px 16px;
    }

    .container5 {
        flex-direction: column;
        gap: 16px;
    }

    .div1,
    .div2 {
        font-size: 25px;
        line-height: 28px;
    }
    .button1{
        padding: 12px 16px;
        margin: 0 auto;
    }
}
@media (max-width: 720px) {
.buttonLabel {
    line-height: 13.09px;
}

.section {
    margin-bottom: 0;
    margin-top: 368.18px;
}

.div1 {
    letter-spacing: 0px;
}

.div2 {
    letter-spacing: -1.06px;
}

.background {
    padding: 49.09px 255px;
    border-radius: 6.55px;
}

.heading2 {
    padding: 0px 8.18px;
    font-size: 22.91px;
}

.section1 {
    padding: 0.82px 47.73px;
}

.container2 {
    border-radius: 327.27px;
    padding: 6.55px 16.36px;
}

.container {
    width: 100%;
    gap: 9.82px;
}

.buttonParent {
    gap: 12.27px;
}

.div {
    font-size: 12.27px;
}

.button1 {
    padding: 9.82px 11.45px;
    margin: 0 auto;
}

.buttonLabel,
.buttonLabel1 {
    font-size: 9.82px;
    text-transform: uppercase;
}

.button {
    padding: 9.82px 13.09px;
}

.container5 {
    flex-direction: column;
    gap: 13.09px;
}

.div1,
.div2 {
    font-size: 20.45px;
    line-height: 22.91px;
}
}
@media (max-width: 635px) {
.buttonLabel {
    line-height: 11.54px;
}

.section {
    margin-bottom: 0;
    margin-top: 324.71px;
}

.div1 {
    letter-spacing: 0px;
}

.div2 {
    letter-spacing: -0.93px;
}

.background {
    padding: 43.28px 190px;
    border-radius: 5.78px;
}

.heading2 {
    padding: 0px 7.21px;
    font-size: 20.23px;
}

.section1 {
    padding: 0.72px 42.15px;
}

.container2 {
    border-radius: 288.57px;
    padding: 5.78px 14.43px;
}

.container {
    width: 150px;
    gap: 8.67px;
}

.buttonParent {
    gap: 10.82px;
}

.div {
    font-size: 10.82px;
}

.button1 {
    padding: 8.67px 10.10px;
    margin: 0 auto;
}

.buttonLabel,
.buttonLabel1 {
    font-size: 8.67px;
    text-transform: uppercase;
}

.button {
    padding: 8.67px 11.54px;
}

.container5 {
    flex-direction: column;
    gap: 11.54px;
}

.div1,
.div2 {
    font-size: 18.04px;
    line-height: 20.23px;
}
}
@media (max-width: 500px) {
.buttonLabel {
    line-height: 9.33px;
}

.section {
    margin-bottom: 0;
    margin-top: 261.32px;
}

.div1 {
    letter-spacing: 0px;
}

.div2 {
    letter-spacing: -0.75px;
}

.background {
    padding: 35.05px 139.38px;
    border-radius: 4.67px;
}

.heading2 {
    padding: 0px 5.86px;
    font-size: 16.43px;
}

.section1 {
    padding: 0.58px 34.04px;
}

.container2 {
    border-radius: 233.44px;
    padding: 4.67px 11.71px;
}

.container {
    width: 120.79px;
    gap: 7.10px;
}

.buttonParent {
    gap: 8.68px;
}

.div {
    font-size: 8.68px;
}

.button1 {
    padding: 7.10px 8.13px;
    margin: 0 auto;
}

.buttonLabel,
.buttonLabel1 {
    font-size: 7.10px;
    text-transform: uppercase;
}

.button {
    padding: 7.10px 9.33px;
}

.container5 {
    flex-direction: column;
    gap: 9.33px;
}

.div1,
.div2 {
    font-size: 14.50px;
    line-height: 16.43px;
}
}

@media (max-width: 540px) {
    .section {
        margin-bottom: 0;
        margin-top: 307.17px;
    }

    .background {
        padding: 40.96px 187px;
        border-radius: 5.46px;
    }

    .heading2 {
        padding: 0.0px 6.83px;
        font-size: 19.11px;
    }
    .section1 {
        padding: 0.68px 39.59px;
    }
    .container2 {
        border-radius: 273.04px;
        padding: 5.46px 13.65px;
    }
    .container {
        width: 100%;
        gap: 8.19px;
    }
    .buttonParent {
        gap: 10.24px;
    }
    .div {
        font-size: 10.24px;
    }
    .button1 {
        padding: 6.83px 9.56px;
    }

    .buttonLabel,
    .buttonLabel1 {
        font-size: 8.19px;
        text-transform: uppercase;
    }

    .button {
        padding: 8.19px 10.92px;
    }

    .container5 {
        flex-direction: column;
        gap: 10.92px;
    }

    .div1,
    .div2 {
        font-size: 17.06px;
        line-height: 19.11px;
    }
    .button1 {
        padding: 8.19px 10.92px;
        margin: 0 auto;
    }
}
@media (max-width:480px) {
    .section{
        width: 300px;
        margin-top: 250px;
    }
    .background{
        width: 360px;
        padding: 40px 60px;
    }
}

@media (max-width:420px) {
    .section{
        margin-top: 190px;
    }
}