.logoChild {
    width: 66px;
    position: relative;
    height: 48px;
}
.logoItem {
    width: 1px;
    position: relative;
    border-right: 1px solid #0450a0;
    box-sizing: border-box;
    height: 37px;
}
.logoInner {
    width: 212.6px;
    position: relative;
    height: 48px;
    object-fit: cover;
}
.logo3blueIcon {
    width: 42px;
    position: relative;
    height: 42px;
    overflow: hidden;
    flex-shrink: 0;
}
.logo3blueWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 15px 3px 3px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0px;
    gap: 24px;
}
.div {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.15px;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.div1 {
    align-self: stretch;
    position: relative;
    font-size: 20px;
    letter-spacing: -0.24px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    max-height: 25.92px;
}
.parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.container1 {
    display: flex;
    cursor: pointer; /* Указатель меняется на "руку" */

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.container5 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.link1 {
    border-radius: 1000px;
    background-color: rgba(4, 80, 160, 0.07);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
}
.container2 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
}
.containerParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}
.div6 {
    width: 224px;
    position: relative;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.vectorIcon {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-image: url('../../../public/icons/vk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.vk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.7px;
}

.iconbutton {
    border-radius: 8px;
    border: 1px solid #0450a0;
    display: flex;
    cursor: pointer; /* Указатель меняется на "руку" */

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}
.iconbutton1 {
    border-radius: 8px;
    border: 1px solid #0450a0;
    display: flex;
    cursor: pointer; /* Указатель меняется на "руку" */

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}
.iconbutton:hover{
    background-color: #0450a0;
    transition: all 0.3s ease;
}
.iconbutton1:hover{
    background-color: #0450a0;
    transition: all 0.3s ease;
}
.component1Icon {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-image: url('../../../public/icons/tg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.3s ease;
}
.iconbutton1:hover .tg{
    background-image: url('../../../public/icons/tg1.svg');
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}
.iconbutton1:hover .tg .component1Icon{
    opacity: 0;
    transition: all 0.3s ease;
}
.iconbutton:hover .vk{
    background-image: url('../../../public/icons/vk1.svg');
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}
.iconbutton:hover .vk .vectorIcon{
    opacity: 0;
    transition: all 0.3s ease;
}
.iconbuttonParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.div7 {
    position: relative;
    letter-spacing: -0.15px;
    font-weight: 500;
    text-align: center;
}
.group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    gap: 48px;
    text-align: right;
    font-size: 20px;
}
.overlay {
    align-self: stretch;
    border-radius: 16px;
    background-color: rgba(4, 80, 160, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 86px 470px 24px 512px;
    gap: 32px;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.div8 {
    position: relative;
    letter-spacing: -0.24px;
    line-height: 14.4px;
    text-transform: uppercase;
    font-weight: 500;
}
.buttonLabel {
    position: relative;
    letter-spacing: -0.24px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.button:hover{
    background-color: #0450a033;
    transition: all 0.3s ease;
}

.link1:hover {
    background-color: #0450a033;
    transition: all 0.3s ease;
}
.button {
    border-radius: 833.33px;
    overflow: hidden;
    display: flex;
    cursor: pointer; /* Указатель меняется на "руку" */

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.container15 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
.overlay1 {
    width: 1664px;
    border-radius: 16px;
    background-color: rgba(4, 80, 160, 0.07);
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 24px;
    box-sizing: border-box;
    gap: 24px;
}
.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 12px;
}
.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
    font-size: 12.7px;
    color: #0450a0;
    font-family: Montserrat, sans-serif;
}

@media (max-width:1670px) {
   
    .link1 {
        border-radius: 750px;
        padding: 9px 12px;
    }
    .div6 {
        width: 168px;
    }

    .iconbutton {
        border-radius: 6px;
        padding: 7.5px;
    }
    .iconbutton1 {
        border-radius: 6px;
        padding: 9px;
        width: 44px;
        height: 44px;
    }


    .group {
        padding: 0px 18px;
        gap: 36px;
        font-size: 15px;
    }
    .overlay {
        border-radius: 12px;
        padding: 64.5px 352.5px 18px 384px;
        gap: 24px;
    }

    .button {
        border-radius: 624.75px;
        padding: 9px;
    }
    .overlay1 {
        width: 1248px;
        border-radius: 12px;
        padding: 9px 18px;
        gap: 18px;
    }

}
@media (max-width:1270px) {

    .container2 {
        font-size: 9px;
    }
    .containerParent {
        gap: 16.67px;
    }
    .div6 {
        width: 116.67px;
    }

    .component1Icon {
        width: 19px;
        height: 19px;
    }
    .vectorIcon{
        width: 16px;
        height: 16px;
    }
    .iconbutton {
        border-radius: 4.17px;
        padding: 5.21px;
        
    }
    .iconbutton1 {
        border-radius: 4.17px;
        padding: 5.21px;
        width: 31px;
        height: 31px;
    }
    .iconbuttonParent {
        gap: 5.21px;
    }
    .group {
        padding: 0 12.5px;
        gap: 25px;
        font-size: 10.1px;
    }
    .overlay {
        border-radius: 8.33px;
        padding: 44.79px 244.79px 12.5px 266.67px;
        gap: 16.67px;
    }
    .div8 {
        line-height: 7.29px;
    }
    .button {
        border-radius: 434.38px;
        padding: 6.25px;
    }
    .overlay1 {
        width: 866.67px;
        border-radius: 8.33px;
        padding: 6.25px 12.5px;
        gap: 12.5px;
    }

}
@media (max-width: 880px) {
    .parent{
        gap: 20px;
    }
    .container2{
        align-self: center;
        gap: 10px;
        overflow: hidden;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 13px;
    }
    .container {
        width: 100%;
    }

    .overlay {
        padding: 40px 8px;
        height: 530px;
        gap: 16px;
    }

    .overlay1 {
        flex-direction: column;
        padding: 8px 16px;
        gap: 8px;
        width: 720px;
    }
    .link1{
        width: 150px;
        height: 40px;
        margin-top: 10px;
    }
    .logo{
    gap: 7px;
    }
    .group {
        flex-direction: column;
        gap: 12px;
    }



    .div7{
        font-size: 14px;
        text-align: center;
    }
    .div6{
                font-size: 14px;
        text-align: center;
        width: 150px;
    }
    .div8{
        font-size: 14px;
        text-align: center;
        width: 400px;   
        margin-top: 10px;
    }

    .iconbuttonParent {
        justify-content: center;
        gap: 8px;
    }

    .button{
        width: 165px;
        height: 30px;
        font-size: 12px;
        gap: 0;
    }

    .container15 {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    .logoChild{
        width: 66px;
        height: 48px;
    }
    .logoItem{
        height: 37px;
    }
    .logoInner{
        width: 140px;
        height: 48px;
    }
    .logo3blueIcon{
        width: 60px;
        height: 48px;
    }
    .div{
        font-size: 13px;
    }
    .div1{
        font-size: 23px;
    }
    .component1Icon{
        width: 20px;
        height: 20px;
    }
    .vectorIcon{
        width: 20px;
        height: 20px;
    }
    .iconbutton:hover .vk .vectorIcon{
        width: 20px;
        height: 20px;
            margin-top: -3px;
    }
    .iconbutton1{
        width: 35px;
        height: 35px;
        padding: 6.8px;
    }
}
@media (max-width: 720px) {
.parent {
    gap: 16.36px;
}

.container2 {
    align-self: center;
    gap: 8.18px;
    overflow: hidden;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 10.64px;
}

.container {
    width: 100%;
}

.overlay {
    padding: 32.73px 6.55px;
    height: 433.09px;
    gap: 13.09px;
}

.overlay1 {
    flex-direction: column;
    padding: 6.55px 13.09px;
    gap: 6.55px;
    width: 590.91px;
}

.link1 {
    width: 122.73px;
    height: 32.73px;
    margin-top: 8.18px;
}

.logo {
    gap: 5.73px;
}

.group {
    flex-direction: column;
    gap: 7px;
}


.div7 {
    font-size: 11.45px;
    text-align: center;

}

.div8 {
    font-size: 11.45px;
    text-align: center;
    width: 327.27px;
    margin-top: 8.18px;
}

.iconbuttonParent {
    justify-content: center;
    gap: 6.55px;
}

.button {
    width: 135px;
    height: 24.55px;
    font-size: 9.82px;
    gap: 0;
}

.container15 {
    flex-direction: column;
    align-items: center;
    gap: 6.55px;
}

.logoChild {
    width: 53.0px;
    height: 39.27px;
}

.logoItem {
    height: 30.27px;
}

.logoInner {
    width: 114.55px;
    height: 39.27px;
}

.logo3blueIcon {
    width: 49.09px;
    height: 39.27px;
}

.div {
    font-size: 10.64px;
}

.div1 {
    font-size: 18.82px;
}

.component1Icon {
    width: 16.36px;
    height: 16.36px;
}

.vectorIcon {
    width: 16.36px;
    height: 16.36px;
}

.iconbutton:hover .vk .vectorIcon {
    width: 16.36px;
    height: 16.36px;
    margin-top: -2.45px;
}
.iconbutton1{
    width: 32px;
    height: 32px;
}
}
@media (max-width: 635px) {
.parent {
    gap: 14.42px;
}

.container2 {
    align-self: center;
    gap: 7.21px;
    overflow: hidden;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 9.38px;
}

.container {
    width: 100%;
}

.overlay {
    padding: 28.86px 5.78px;
    height: 381.65px;
    gap: 11.54px;
}

.overlay1 {
    flex-direction: column;
    padding: 5.78px 11.54px;
    gap: 5.78px;
    width: 521.89px;
}

.link1 {
    width: 108.22px;
    height: 28.86px;
    margin-top: 7.21px;
}

.logo {
    gap: 5.05px;
}

.group {
    flex-direction: column;
    gap: 2px;
}

.iconbutton {
    width: 30px;
    height: 30px;
    padding: 5px;
}
.iconbutton1 {
    width: 30px;
    height: 30px;
    padding: 7px;
}


.div7 {
    font-size: 10.10px;
    text-align: center;
}
.div6{
    font-size: 10.10px;
    text-align: center;
    width: 108.22px;
}
.div8 {
    font-size: 10.10px;
    text-align: center;
    width: 288.54px;
    margin-top: 7.21px;
}

.iconbuttonParent {
    justify-content: center;
    gap: 5.78px;
}

.button {
    width: 119.06px;
    height: 21.65px;
    font-size: 8.67px;
    gap: 0;
}

.container15 {
    flex-direction: column;
    align-items: center;
    gap: 5.78px;
}

.logoChild {
    width: 46.74px;
    height: 34.64px;
}

.logoItem {
    height: 26.68px;
}

.logoInner {
    width: 100.99px;
    height: 34.64px;
}

.logo3blueIcon {
    width: 43.29px;
    height: 34.64px;
}

.div {
    font-size: 9.38px;
}

.div1 {
    font-size: 16.61px;
}

.component1Icon {
    width: 14.42px;
    height: 14.42px;
}

.vectorIcon {
    width: 14.42px;
    height: 14.42px;
}

.iconbutton:hover .vk .vectorIcon {
    width: 14.42px;
    height: 14.42px;
    margin-top: -2.16px;
}
}
@media (max-width: 600px) {
.parent {
  gap: 13.63px;
}

.container2 {
  align-self: center;
  gap: 6.81px;
  overflow: hidden;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 8.86px;
}

.container {
  width: 100%;
}

.overlay {
  padding: 27.27px 5.46px;
  height: 360.52px;
  gap: 10.91px;
}

.overlay1 {
  flex-direction: column;
  padding: 5.46px 10.91px;
  gap: 5.46px;
  width: 493.17px;
}

.link1 {
  width: 102.22px;
  height: 27.27px;
  margin-top: 6.81px;
}

.logo {
  gap: 4.77px;
}

.group {
  flex-direction: column;
  gap: 1.89px;
}

.iconbutton {
  width: 28.35px;
  height: 28.35px;
  padding: 4.72px;
}

.iconbutton1 {
  width: 28.35px;
  height: 28.35px;
  padding: 6.61px;
}

.div7 {
  font-size: 9.54px;
  text-align: center;
}

.div6 {
  font-size: 9.54px;
  text-align: center;
  width: 102.22px;
}

.div8 {
  font-size: 9.54px;
  text-align: center;
  width: 272.58px;
  margin-top: 6.81px;
}

.iconbuttonParent {
  justify-content: center;
  gap: 5.46px;
}

.button {
  width: 112.45px;
  height: 20.45px;
  font-size: 8.19px;
  gap: 0;
}

.container15 {
  flex-direction: column;
  align-items: center;
  gap: 5.46px;
}

.logoChild {
  width: 44.17px;
  height: 32.75px;
}

.logoItem {
  height: 25.20px;
}

.logoInner {
  width: 95.44px;
  height: 32.75px;
}

.logo3blueIcon {
  width: 40.90px;
  height: 32.75px;
}

.div {
  font-size: 8.86px;
}

.div1 {
  font-size: 15.70px;
}

.component1Icon {
  width: 13.63px;
  height: 13.63px;
}

.vectorIcon {
  width: 13.63px;
  height: 13.63px;
}

.iconbutton:hover .vk .vectorIcon {
  width: 13.63px;
  height: 13.63px;
  margin-top: -2.04px;
}
}
@media (max-width: 500px) {
.parent {
  gap: 11.52px;
}

.container2 {
  align-self: center;
  gap: 5.68px;
  overflow: hidden;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 7.38px;
}

.container {
  width: 100%;
}

.overlay {
  padding: 22.73px 4.55px;
  height: 300.43px;
  gap: 9.09px;
}
.containerParent{
    gap: 10px;
}
.link{
    gap: 5px;
}
.overlay1 {
  flex-direction: column;
  padding: 4.55px 9.09px;
  gap: 4.55px;
  width: 411.39px;
}

.link1 {
  width: 85.18px;
  height: 22.73px;
  margin-top: 5.68px;
}

.logo {
  gap: 3.98px;
}

.group {
  flex-direction: column;
  gap: 1.58px;
}
.buttonLabel{
    line-height: 8px;
}


.div7 {
  font-size: 7.95px;
  text-align: center;
}

.div6 {
  font-size: 7.95px;
  text-align: center;
  width: 85.18px;
}

.div8 {
  font-size: 7.95px;
  text-align: center;
  width: 227.15px;
  margin-top: 5.68px;
}


.button {
  width: 93.54px;
  height: 17.04px;
  font-size: 6.83px;
  gap: 0;
}

.container15 {
  flex-direction: column;
  align-items: center;
  gap: 4.55px;
}

.logoChild {
  width: 36.81px;
  height: 27.29px;
}

.logoItem {
  height: 21.00px;
}

.logoInner {
  width: 79.54px;
  height: 27.29px;
}

.logo3blueIcon {
  width: 34.17px;
  height: 27.29px;
}

.div {
  font-size: 7.38px;
}

.div1 {
  font-size: 13.08px;
}

}
@media (max-width: 450px) {
.parent {
  gap: 10.37px;
}

.container2 {
  align-self: center;
  gap: 5.11px;
  overflow: hidden;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 6.64px;
}

.container {
  width: 100%;
}

.overlay {
  padding: 20.46px 4.09px;
  height: 270.39px;
  gap: 8.18px;
}

.containerParent {
  gap: 9px;
}

.link {
  gap: 4.50px;
}

.overlay1 {
  flex-direction: column;
  padding: 4.09px 8.18px;
  gap: 4.09px;
  width: 370.25px;
}

.link1 {
  width: 76.66px;
  height: 20.45px;
  margin-top: 5.11px;
}

.logo {
  gap: 3.58px;
}

.group {
  flex-direction: column;
  gap: 1.42px;
}

.buttonLabel {
  line-height: 7.20px;
}

.div7 {
  font-size: 7.15px;
  text-align: center;
}

.div6 {
  font-size: 7.15px;
  text-align: center;
  width: 76.66px;
}

.div8 {
  font-size: 7.15px;
  text-align: center;
  width: 204.44px;
  margin-top: 5.11px;
}

.button {
  width: 84.18px;
  height: 15.34px;
  font-size: 6.15px;
  gap: 0;
}

.container15 {
  flex-direction: column;
  align-items: center;
  gap: 4.09px;
}

.logoChild {
  width: 33.13px;
  height: 24.56px;
}

.logoItem {
  height: 18.90px;
}

.logoInner {
  width: 71.59px;
  height: 24.56px;
}

.logo3blueIcon {
  width: 30.75px;
  height: 24.56px;
}

.div {
  font-size: 6.64px;
}

.div1 {
  font-size: 11.77px;
}

}